{% extends 'partials/base.html.twig' %}

{% block content %}
	<header class="section-hero">
		<div class="content">
			{{ page.content }}
		</div>
	</header>

	<section class="boxes" id="featured">

		<div class="row">
			<a href="{{ base_url }}/servicios" class="box box-services">
				<img src="{{ url("theme://") }}/images/icon-box-help.svg" alt="Servicios" />
				<h3>Services</h3>
				<p>Te ofrecemos vehículos eléctricos nuevos y de ocasión. Si estás interesado en algún modelo en particular lo traemos desde cualquier parte del mundo para ti.</p>
			</a><!-- box -->

			<a href="{{ base_url }}/vehículos" class="box box-pictured box-vehicles">
				<img src="{{ url("theme://") }}/images/icon-box-car.svg" alt="Vehicles" />
				<h3>Vehículos</h3>
				<p>En estos momentos disponemos de una serie de vehículos en stock.<br>Entra y descúbrelos.</p>
			</a><!-- box -->

			<a href="{{ base_url }}/vblog" class="box box-vblog">
				<img src="{{ url("theme://") }}/images/icon-box-video.svg" alt="VBlog Zero Emisiones" />
				<h3>Canal Zero Emisiones</h3>
				<p>En nuestro canal Zero Emisiones podrás disfrutar de multitud de consejos, análisis y temas interesantes relacionados con la movilidad eléctrica.</p>
			</a><!-- box -->
		</div>
		<div class="row">
			<a href="{{ base_url }}/contacto" class="box box-two box-pictured box-human">
				<div class="content">
					<p class="cite">“Mi nombre es <strong>Sergio García</strong> y mi misión es <strong>ayudarte y asesorarte</strong> en todo lo que necesites para <strong>dar con seguridad y facilidad tu paso a la movilidad eléctrica.</strong>“</p>
					<p class="button">Hablemos</p>
				</div>
			</a><!-- box -->
			<a href="http://www.electromaps.com" class="box box-pictured box-map" target="_blank">
				<img src="{{ url("theme://") }}/images/icon-box-point.svg" alt="Electromaps" />
				<h3>Mapa de puntos de carga</h3>
				<p>Encuentra todos los puntos de recarga más cercanos en un mapa actualizado.</p>
				<footer>
					<img src="{{ url("theme://") }}/images/logo-electromaps.png" alt="Electromaps" />
				</footer>
			</a><!-- box -->
		</div>
	</section>
{% endblock %}
